* {

    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  

.load-div {
  width: 100%;
  height: 100vh;
  background-color: #23232e;
  animation: toPortfolio 2s ease forwards 7s;
}


.continue {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 1em;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #23232e;
  border: #23232e 5px solid;
  border-radius: 4px;
  opacity: 0;
  animation: toShow 1s ease forwards 9s;
  text-align: center;
  vertical-align: middle;
  
}

.continue:hover {
  color: white;

}

#hire-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 2s ease forwards 5s;
}

#hire-text path:nth-child(1) {
  stroke-dasharray: 449.7335510253906;
  stroke-dashoffset: 449.7335510253906;
  animation: line-anim 2s ease forwards;

}
#hire-text path:nth-child(2) {
  stroke-dasharray: 449.32882690429688;
  stroke-dashoffset: 449.32882690429688;
  animation: line-anim 2s ease forwards 0.3s;


}
#hire-text path:nth-child(3) {
  stroke-dasharray: 449.6678466796875px;
  stroke-dashoffset: 449.6678466796875px;
  animation: line-anim 2s ease forwards 0.6s;

}
#hire-text path:nth-child(4) {
  stroke-dasharray: 432.7584228515625px;
  stroke-dashoffset: 432.7584228515625px;
  animation: line-anim 2s ease forwards  0.9s;

}
#hire-text path:nth-child(5) {
  stroke-dasharray: 366.04974365234375px;
  stroke-dashoffset: 366.04974365234375px;
  animation: line-anim 2s ease forwards 1.2s;

}
#hire-text path:nth-child(6) {
  stroke-dasharray: 424.66790771484375px;
  stroke-dashoffset: 424.66790771484375px;
  animation: line-anim 2s ease forwards 1.5s;

}
#hire-text path:nth-child(7) {
  stroke-dasharray: 512.6400756835938px;
  stroke-dashoffset: 512.6400756835938px;
  animation: line-anim 2s ease forwards 1.8s;

}
#hire-text path:nth-child(8) {
  stroke-dasharray: 600.34927368164062px;
  stroke-dashoffset: 600.34927368164062px;
  animation: line-anim 2s ease forwards 2.1s;

}
#hire-text path:nth-child(9) {
  stroke-dasharray: 245.87078857421875px;
  stroke-dashoffset: 245.87078857421875px;
  animation: line-anim 2s ease forwards 2.4s;

}
#hire-text path:nth-child(10) {
  stroke-dasharray: 424.6681823730469px;
  stroke-dashoffset: 424.6681823730469px;
  animation: line-anim 2s ease forwards 2.7s;

}
#hire-text path:nth-child(11) {
  stroke-dasharray: 750.7006225585938px;
  stroke-dashoffset: 750.7006225585938px;
  animation: line-anim 2s ease forwards 3s;

}
#hire-text path:nth-child(12) {
  stroke-dasharray: 755;
  stroke-dashoffset: 755;
  animation: line-anim 2s ease forwards 3.3s;

}
#hire-text path:nth-child(13) {
  stroke-dasharray:  440.05596923828125px;
  stroke-dashoffset:  440.05596923828125px;
  animation: line-anim 2s ease forwards 3.6s;

}


@keyframes line-anim { 
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes toPortfolio {
  to {
    background: white;
  }
}

@keyframes toShow {
  to {
    opacity: 1;
  }
}