nav {
    margin: 0 auto;
    border-bottom: 1px #eee solid;
}


li {
    margin-bottom: 0rem;
} 

.container {
    max-width: 800px;
    min-width: 675px;
    position: relative;
    /* padding-bottom: 15px; */
    height: 50px;
} 

.nav-item {
    float: right;
    padding: 5px;
    text-align: center;
    list-style: none;
    width: 75px;
    border-left: 1px #eee solid;
    border-bottom: 1px #eee solid;
    margin-right: 15px;
    color: black;
    margin-top: 10px;
    transition: 250ms ease;
    border-radius: 3px;

}

.nav-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(201, 201, 201);
    /* transition: 250ms ease; */
}

.nav-item-left {
    float: left;
    padding: 5px;
    text-align: center;
    list-style: none;
    width: 40px;

}

.nav-name {
    font-family: 'Orbitron', sans-serif;
    width: 125px;
    font-size: 1.5em;
    margin-right: 15px;
    transition: 250ms ease;
    border-radius: 3px;
}

.nav-name:hover {
    color: white;
    background-color: rgb(201, 201, 201);
    /* transition: 250ms ease; */
}

.nav-icons {
    width: 40px;
    height: 40px;
}

.nav-icons-linkedin {
    width: 30x;
    height: 30px;
    padding-top: 5px;
}

.nav-half-left {
    /* width: 50%; */
    padding: 0 0 0 40px ;
    height: 40px;

}

.nav-half-right {
    width: 50%;

    padding: 0 30px 0 0 ;
    height: 55px;
    position: relative;

}

.logo-link {
    color: black;
    background: rgb(37, 37, 37);
    transition: 250ms ease;
    border-radius: 3px;
}

.logo-link:hover {
    color: rgb(255, 255, 255);
    background: rgb(201, 201, 201);
    /* transition: 250ms ease; */
    
}
/* 
.logo-link:active {
    text-decoration: none;
} */

/* @keyframes navHover {
    to {

    }
} */

.icon {
    background: white;
    /* position: absolute; */
    /* float: righ/t; */
    top: 6px;
    font-size: 1.5em;
    height: 35px;
    width: 35px;
    color: black;
    border-radius: 3px;
    border-bottom: solid 2px #eee;
    border-left: solid 2px #eee;
    display: none;
    text-align: center;
    transition: 250ms ease;
}

.icon:active {
    text-decoration: none;
}

.icon:hover {
    color: white;
    background: rgb(201, 201, 201);
}

.menu {
    visibility: hidden;
    position: absolute;
    right: 0;
    float: right;
    background: rgb(201, 201, 201);
    /* padding: 10px 20px 0 10px; */
    top: 50px;
}

.menu-item {
    padding: 10px 50px 10px 10px;
    width: 100%;
    color:white;
    text-decoration: none;
    transition: 100ms ease;

}

.menu-item a {
    text-decoration: none;
}

.menu-item:hover {
    color: black;
    background: white;
}
@media screen and (max-width: 675px) {

    .container {
        display: flex;
        width: 100%;
        min-width:fit-content;
    }
    .nav-item {
        display: none;
    }

    .icon {
        display: block;
        /* position: absolute; */
        /* right: 10px; */
        float: right;
        /* top: 10px; */
        margin: 7px 15px;
        opacity: 1;
    }
    
    .nav-half-left {
        padding: 0;
        width: 100%;
    }
    
    .nav-half-right {
        width: 50%;
    }

    .menu {
        visibility: visible;
    }


}