.resume-area {
    text-align: center;
    padding-top: 15px;
}

.resume-button {
    margin-top: 10px;
    animation: 500ms ease forwards;
}

.project-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
}

ul {
    list-style: none;
}

hr.mini-projects {
    margin: 15px 0 15px 0
}